{% if user.is_authenticated %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 col-sm-10 text-center m-3">
            <a href="{% url 'services' %}" class="btn btn-outline-light btn-lg bg3" style="width: 180px; height: 50px;">
                Заказать услугу
            </a>
        </div>
    </div>
{% else %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 col-sm-10 justify-content-right text-center m-3">
            <button type="button" class="btn btn-outline-light btn-lg bg3" data-bs-toggle="modal" data-bs-target="#callModal" style="width: 180px; height: 50px;">
                Перезвонить
            </button>
        </div>
        <div class="col-md-4 col-sm-10 text-center m-3">
            <button type="button" class="btn btn-outline-light btn-lg bg3" data-bs-toggle="modal" data-bs-target="#serviceModal" style="width: 180px; height: 50px;">
                Заказать услугу
            </button>
        </div>
    </div>
{% endif %}

<!-- Модальное окно Перезвонить -->
<div class="modal fade" id="callModal" tabindex="-1" aria-labelledby="callModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h2 class="modal-title text-center" id="callModalLabel" style="padding: 0 44px;">
        Мы скоро свяжемся с Вами!
        </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>      
    <div class="modal-body p-3 justify-content-center">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="row m-4 justify-content-center">
                <div class="col">
                    {{ form_contact.name }}
                </div>
            </div>
            <div class="row m-4 justify-content-center">
                <div class="col">
                    {{ form_contact.phone }}
                </div>
            </div>
            <div class="row justify-content-center m-4">
                <div class="col">
                    <button type="submit" name="contact_form" class="btn btn-outline-light btn-lg bg3" style="width: 100%; height: 60px;">Отправить</button>
                    <p class="text-center mt-3">Нажимая на кнопку, Вы соглашаетесь с обработкой <a href="{% url 'privacy' %}">персональных данных</a></p>
                </div>
            </div>
        </form>        
    </div>
    </div>
</div>
</div>
<!-- Модальное окно Заказать услугу -->
<div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h2 class="modal-title text-center" id="serviceModalLabel" style="padding: 0 44px;">
        Получить результат от рекламы в интернете!
        </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>      
    <div class="modal-body p-3 justify-content-center">
        {% if messages %}
            <div class="messages" style="background: #eee; margin: 20px 20px;">
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="row m-4 justify-content-center">
                <div class="col">
                {{ form_order.name }}
                </div>
            </div>
            <div class="row m-4 justify-content-center">
                <div class="col">
                {{ form_order.email }}
                </div>
            </div>
            <div class="row m-4 justify-content-center">
                <div class="col">
                {{ form_order.phone }}
                </div>
            </div>
            <div class="row m-4 justify-content-center">
                <div class="col">
                {{ form_order.budget }}
                </div>
            </div>
            <div class="row m-4 justify-content-center">
                <div class="col">
                {{ form_order.task }}
                </div>
            </div>
            <div class="row justify-content-center m-4">
                <div class="col">
                <button type="submit" name="order_form" class="btn btn-outline-light btn-lg bg3" style="width: 100%; height: 60px;">Отправить</button>
                <p class="text-center mt-3">Нажимая на кнопку, Вы соглашаетесь с обработкой <a href="{% url 'privacy' %}">персональных данных</a></p>
                </div>
            </div>
        </form>
    </div>
    </div>
</div>